In [ ]:
# QCTO - Workplace Module

### Project Title: Data Science Insurance Claim Project 2025
#### Done By: Dewald Scriven

© ExploreAI 2024

---

## Table of Contents

<a href=#BC> Background Context</a>

<a href=#one>1. Importing Packages</a>

<a href=#two>2. Data Collection and Description</a>

<a href=#three>3. Loading Data </a>

<a href=#four>4. Data Cleaning and Filtering</a>

<a href=#five>5. Exploratory Data Analysis (EDA)</a>

<a href=#six>6. Modeling </a>

<a href=#seven>7. Evaluation and Validation</a>

<a href=#eight>8. Final Model</a>

<a href=#nine>9. Conclusion and Future Work</a>

<a href=#ten>10. References</a>

---
 <a id="BC"></a>
## **Background Context**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Introduce the project, outline its goals, and explain its significance.
* **Details:** Include information about the problem domain, the specific questions or challenges the project aims to address, and any relevant background information that sets the stage for the work.
---

---
<a href=#one></a>
## **Importing Packages**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Set up the Python environment with necessary libraries and tools.
* **Details:** List and import all the Python packages that will be used throughout the project such as Pandas for data manipulation, Matplotlib/Seaborn for visualization, scikit-learn for modeling, etc.
---

In [35]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

---
<a href=#two></a>
## **Data Collection and Description**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Describe how the data was collected and provide an overview of its characteristics.
* **Details:** Mention sources of the data, the methods used for collection (e.g., APIs, web scraping, datasets from repositories), and a general description of the dataset including size, scope, and types of data available (e.g., numerical, categorical).
---

In [37]:
path = r"C:\Users\Dewald\Documents\Data Science\9 Workplace\Workplace Project\2 Case study Companion Observing Data Analysis\insurance_claims_cleaned_fixed_example.xlsx"
df = pd.read_excel(path)
df.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 44 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   months_as_customer           1000 non-null   int64
 1   age                          1000 non-null   int64
 2   policy_number                1000 non-null   int64
 3   policy_bind_date             1000 non-null   object
 4   policy_state                 1000 non-null   object
 5   policy_deductable            1000 non-null   int64
 6   policy_annual_premium        1000 non-null   float64
 7   umbrella_limit               1000 non-null   int64
 8   insured_zip                  1000 non-null   int64
 9   insured_sex                  1000 non-null   object
 10  insured_education_level      1000 non-null   object
 11  insured_occupation           1000 non-null   object
 12  insured_hobbies              1000 non-null   object
 13  insured_relationship         1000 non-null   object
 14  capital_gains                1000 non-null   int64
 15  capital_loss                 1000 non-null   int64
 16  incident_type                1000 non-null   object
 17  collision_type               1000 non-null   object
 18  incident_severity            1000 non-null   object
 19  authorities_contacted        1000 non-null   object
 20  incident_state               1000 non-null   object
 21  incident_city                1000 non-null   object
 22  incident_location            1000 non-null   object
 23  incident_hour_of_the_day     1000 non-null   int64
 24  number_of_vehicles_involved  1000 non-null   int64
 25  property_damage              1000 non-null   object
 26  bodily_injuries              1000 non-null   int64
 27  witnesses                    1000 non-null   int64
 28  police_report_available      1000 non-null   object
 29  total_claim_amount           1000 non-null   int64
 30  injury_claim                 1000 non-null   int64
 31  property_claim               1000 non-null   int64
 32  vehicle_claim                1000 non-null   int64
 33  auto_make                    1000 non-null   object
 34  auto_model                   1000 non-null   object
 35  auto_year                    1000 non-null   int64
 36  fraud_reported               1000 non-null   object
 37  policy_csl_person            1000 non-null   int64
 38  policy_csl_accident          1000 non-null   int64
 39  incident_year                1000 non-null   int64
 40  incident_month               1000 non-null   int64
 41  incident_day                 1000 non-null   int64
 42  incident_dayofweek           1000 non-null   int64
 43  calculated_total_claim       1000 non-null   int64
dtypes: float64(1), int64(24), object(19)
memory usage: 1.2 MB

---
<a href=#three></a>
## **Loading Data**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Load the data into the notebook for manipulation and analysis.
* **Details:** Show the code used to load the data and display the first few rows to give a sense of what the raw data looks like.
---

In [39]:
# load sample dataset
df.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,...,auto_model,auto_year,fraud_reported,policy_csl_person,policy_csl_accident,incident_year,incident_month,incident_day,incident_dayofweek,calculated_total_claim
0,328,48,521585,10/17/2014,OH,1000,1406.91,0,466132,MALE,...,92x,2004,Yes,250,500,2015,1,25,6,71610
1,228,42,342868,6/27/2006,IN,2000,1197.22,5000000,468176,MALE,...,E400,2007,Yes,250,500,2015,1,21,2,5070
2,134,29,687698,9/6/2000,OH,2000,1413.14,5000000,430632,FEMALE,...,RAM,2007,No,100,300,2015,2,22,6,34650
3,256,41,227811,5/25/1990,IL,2000,1415.74,6000000,608117,FEMALE,...,Tahoe,2014,Yes,250,500,2015,1,10,5,63400
4,228,44,367455,6/6/2014,IL,1000,1583.91,6000000,610706,MALE,...,RSX,2009,No,500,1000,2015,2,17,1,6500

---
<a href=#four></a>
## **Data Cleaning and Filtering**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Prepare the data for analysis by cleaning and filtering.
* **Details:** Include steps for handling missing values, removing outliers, correcting errors, and possibly reducing the data (filtering based on certain criteria or features).
---

In [41]:
null_counts = df.isnull().sum()
null_counts

months_as_customer             0
age                            0
policy_number                  0
policy_bind_date               0
policy_state                   0
policy_deductable              0
policy_annual_premium          0
umbrella_limit                 0
insured_zip                    0
insured_sex                    0
insured_education_level        0
insured_occupation             0
insured_hobbies                0
insured_relationship           0
capital_gains                  0
capital_loss                   0
incident_type                  0
collision_type                 0
incident_severity              0
authorities_contacted          0
incident_state                 0
incident_city                  0
incident_location              0
incident_hour_of_the_day       0
number_of_vehicles_involved    0
property_damage                0
bodily_injuries                0
witnesses                      0
police_report_available        0
total_claim_amount             0
injury_claim                   0
property_claim                 0
vehicle_claim                  0
auto_make                      0
auto_model                     0
auto_year                      0
fraud_reported                 0
policy_csl_person              0
policy_csl_accident            0
incident_year                  0
incident_month                 0
incident_day                   0
incident_dayofweek             0
calculated_total_claim         0
dtype: int64

---
<a href=#five></a>
## **Exploratory Data Analysis (EDA)**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Explore and visualize the data to uncover patterns, trends, and relationships.
* **Details:** Use statistics and visualizations to explore the data. This may include histograms, box plots, scatter plots, and correlation matrices. Discuss any significant findings.
---

In [ ]:
#Please use code cells to code in and do not forget to comment your code.

---
<a href=#six></a>
## **Modeling**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Develop and train predictive or statistical models.
* **Details:** Describe the choice of models, feature selection and engineering processes, and show how the models are trained. Include code for setting up the models and explanations of the model parameters.
---

In [ ]:
#Please use code cells to code in and do not forget to comment your code.

---
<a href=#seven></a>
## **Evaluation and Validation**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Evaluate and validate the effectiveness and accuracy of the models.
* **Details:** Present metrics used to evaluate the models, such as accuracy, precision, recall, F1-score, etc. Discuss validation techniques employed, such as cross-validation or train/test split.
---

In [ ]:
#Please use code cells to code in and do not forget to comment your code.

---
<a href=#eight></a>
## **Final Model**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Present the final model and its performance.
* **Details:** Highlight the best-performing model and discuss its configuration, performance, and why it was chosen over others.
---

In [ ]:
#Please use code cells to code in and do not forget to comment your code.

---
<a href=#nine></a>
## **Conclusion and Future Work**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Summarize the findings and discuss future directions.
* **Details:** Conclude with a summary of the results, insights gained, limitations of the study, and suggestions for future projects or improvements in methodology or data collection.
---

In [ ]:
#Please use code cells to code in and do not forget to comment your code.

---
<a href=#ten></a>
## **References**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Provide citations and sources of external content.
* **Details:** List all the references and sources consulted during the project, including data sources, research papers, and documentation for tools and libraries used.
---

In [ ]:
#Please use code cells to code in and do not forget to comment your code.

## Additional Sections to Consider

* ### Appendix: 
For any additional code, detailed tables, or extended data visualizations that are supplementary to the main content.

* ### Contributors: 
If this is a group project, list the contributors and their roles or contributions to the project.